nav
    .pure-menu.custom-restricted-width
        a(href='/dashboard').pure-menu-heading DASHBOARD
        ul.pure-menu-list
            li.pure-menu-item
                a(href='/dashboard/collects').pure-menu-link Retrait
            li.pure-menu-item
                a(href='/dashboard/items').pure-menu-link Articles
            li.pure-menu-item
                a(href='/dashboard/lots').pure-menu-link lots
//            li.pure-menu-item
//                a(href='/dashboard/sells').pure-menu-link Ventes
//            li.pure-menu-item
//                a(href='/dashboard/orders').pure-menu-link Commandes