footer.lite
    section.container
        .footer__body__element
            a(href='#') Questions fr&eacute;quentes
            br
        .footer__body__element
            a(href='#') Mentions l&eacute;gales
            br
        .footer__body__element
            a(href='#') Conditions g&eacute;n&eacute;rales de vente
    .footer__bottom
        img.footer__bottom__logo(src='ng-leaf-logo.svg' alt='logo du footer')
        div
            span &copy; Nook Games 2019