footer
    .footer__top
        a.footer__top__scroll-back-to-top-btn(href='#') Retour en haut
    section.container
        .footer__body__element
            .footer__body__infos-icon
                .infos-sprite
            h3 Plus d'informations ?
            .footer__body__infos-links
                a(href='#') Questions Fréquentes
                br
                a(href='#') Mentions légales
                br
                a(href='#') Conditions générales de vente
        .footer__body__element
            .footer__body__parcel-icon
                .parcel-sprite
            h3 Livraison offerte !
            p
                | Votre commande sera soigneusement emballée dans une enveloppe à bulle puis
                strong.whitespace livrée gratuitement en 48h par lettre suivie
        .footer__body__element
            .footer__body__bell-icon
                .bell-sprite
            h3 Paiement sécurisé !
            p
                | Règlez avec
                strong.whitespace la cartes de paiment de votre choix
                |  via Stripe pour un réglement
                strong.whitespace fiable et sécurisé;
        .footer__body__element
            .footer__body__letter-icon
                .letter-sprite
            h3 Contactez-nous !
            p
                strong tom.nook@bazaar.com
                br
                | Nook Games
                br
                | 10 rue du paradis
                br
                | 75010 Paris
    .footer__bottom
        img.footer__bottom__logo(src='ng-leaf-logo.svg' alt='logo du footer')
        div
            span &copy; Nook Games 2019