header
    div
        a(href='/index')
            img.header__logo(src='ng-logo.webp' alt='logo de la boutique Nook Games' data-pagespeed-url-hash='1325811301')
    div
        a.header__shopping-cart-link(href='/cart')
            img.header__shopping-cart-icon(src='shopping-cart-icon.png' alt="icone du panier d'achat" data-pagespeed-url-hash='1827931302')
nav