doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Une description')
  meta(name='keywords' content='des mots clés')
  meta(name='robots' content='index,follow')
  meta(http-equiv='cache-control' content='public,max-age=604800,must-revalidate')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css' type='text/css')
  script(type="module" src='script.js')
  title Demo

include header
main.index
  section
    article.clickable.cartridge(data-game-id='mk8dg4m3')
      a(href='/cart')
        .cartridge__header
          img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
        .cartridge__cover
          img(src='mario_kart_8_deluxe_square.jpeg' alt='jaquette de mario kart 8 deluxe' data-pagespeed-url-hash='1765911351')
        .cartridge__title
          h2 Mario Kart 8 Deluxe
        div
          span Classification PEGI : 3 ans et plus
        div
          span 2017 | Nintendo
        .cartridge__support
          strong  Nintendo Switch
        .cartridge__price
          span 35.90 &euro;
    article.clickable.cartridge(data-game-id='smo1g4m3')
      a(href='/cart')
        .cartridge__header
          img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
        .cartridge__cover
          img(src='super_mario_odyssey_square.jpeg' alt='jaquette de super mario odyssey' data-pagespeed-url-hash='1025911351')
        .cartridge__title
          h2 Super Mario Odyssey
        div
          span Classification PEGI : 3 ans et plus
        div
          span 2017 | Nintendo
        .cartridge__support
          strong  Nintendo Switch
        .cartridge__price
          span 35.90 &euro;
    article.clickable.cartridge(data-game-id='sm3wbfm3')
      a(href='/cart')
        .cartridge__header
          img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
        .cartridge__cover
          img(src='super_mario_3d_world_bowser_fury_square.jpeg' alt='jaquette de super mario 3D world bowser fury' data-pagespeed-url-hash='1025911351')
        .cartridge__title
          h2 Super Mario 3D World Bowser's Fury
        div
          span Classification PEGI : 3 ans et plus
        div
          span 2017 | Nintendo
        .cartridge__support
          strong  Nintendo Switch
        .cartridge__price
          span 35.90 &euro;
    article.clickable.cartridge(data-game-id='smbud4m3')
      a(href='/cart')
        .cartridge__header
          img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
        .cartridge__cover
          img(src='mario_bros_u_deluxe_square.jpeg' alt='jaquette de super mario bros U deluxe' data-pagespeed-url-hash='1025911351')
        .cartridge__title
          h2 New Super Mario Bros U Deluxe
        div
          span Classification PEGI : 3 ans et plus
        div
          span 2017 | Nintendo
        .cartridge__support
          strong  Nintendo Switch
        .cartridge__price
          span 35.90 &euro;
    article.clickable.cartridge(data-game-id='botwg4m3')
      a(href='/cart')
        .cartridge__header
          img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
        .cartridge__cover
          img(src='zelda_breath_of_the_wild_cover.jpeg' alt='jaquette de the legend of zelda breath of the wild' data-pagespeed-url-hash='1025911351')
        .cartridge__title
          h2 The legend of Zelda Breath of the Wild
        div
          span Classification PEGI : 3 ans et plus
        div
          span 2017 | Nintendo
        .cartridge__support
          strong  Nintendo Switch
        .cartridge__price
          span 35.90 &euro;
    article.cartridge
      .cartridge__header
        img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
      .cartridge__cover
        img(src='mario_kart_8_deluxe_square.jpeg' alt='mario kart 8 deluxe cover' data-pagespeed-url-hash='1025911351')
      .cartridge__title
        h2 Mario Kart 8 Deluxe
      div
        span Classification PEGI : 3 ans et plus
      div
        span 2017 | Nintendo
      .cartridge__support
        strong  Nintendo Switch
      .cartridge__price
        span 35.90 &euro;
    article.cartridge
      .cartridge__header
        img(src='nintendo-switch-logo.png' alt='logo nintendo switch')
      .cartridge__cover
        img(src='mario_kart_8_deluxe_square.jpeg' alt='mario kart 8 deluxe cover' data-pagespeed-url-hash='1025911351')
      .cartridge__title
        h2 Mario Kart 8 Deluxe
      div
        span Classification PEGI : 3 ans et plus
      div
        span 2017 | Nintendo
      .cartridge__support
        strong  Nintendo Switch
      .cartridge__price
        span 35.90 &euro;
include footer
